<section class="section hero bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('hero-1.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">Your planner at your finger tips</h1>
        <button class="btn section-action">Plan my event</button>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">What we do</h1>
        <p>We are here to bring together people who want their events planned with planners. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-1.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">What we do</h1>
        <p>We are here to bring together people who want their events planned with planners. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-2.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-2.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</section>

<section class="section contact">
    <%= form_for(:notifications, url: :contact_us) do |f| %>
        <%=  f.text_field :name, placeholder: "Name" %>
        <%=  f.text_field :email, placeholder: "Email" %>
        <%=  f.text_area :message, placeholder: "Message" %>

        <%= f.submit "Send" %>
    <% end %>
</section>