<section class="section hero bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('hero-1.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">..... at your finger tips</h1>
        <%= link_to "Plan my event", register_user_path, class: "btn section-action" %>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">What we do</h1>
        <p>We are here to bring together people who want their events planned with planners. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-1.jpg') %>
    </noscript>
    <div class="section-description">
        <div class="left">
            <h1 class="section-title">Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">What we do</h1>
        <p>We are here to bring together people who want their events planned with planners. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-2.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-2.jpg') %>
    </noscript>
    <div class="section-description">
        <div class="right">
            <h1 class="section-title">Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</section>

<section class="section contact">
    <div class="section-description">
        <h1 class="section-title">Get in touch with us.</h1>
        <div class="col-2">
            <div class="col-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-block">
                <%= form_for(:notifications, url: :contact_us) do |f| %>
                    <div class="col-2">
                        <div class="field">
                            <%=  f.label :name %>
                            <%=  f.text_field :name, placeholder: "e.g. John Smith" %>
                        </div>
                        <div class="field">
                            <%=  f.label :email %>
                            <%=  f.text_field :email, placeholder: "e.g. jsmith@xyz.com" %>
                        </div>
                    </div>

                    <div class="field">
                        <%=  f.label :message %>
                        <%=  f.text_area :message %>
                    </div>

                    <div class="field action">
                        <%= f.submit "Send" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>