<section class="section hero bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('hero-1.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">..... at your finger tips</h1>
        <%= link_to "Plan my event", register_user_path, class: "btn section-action" %>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">What we do</h1>
        <hr class="section-hr">
        <p><b class="red-bold">Plannr</b> is a <b>platform</b> that <b>connects</b> you with people that <b>love</b> planning events.  It's a <b>low-cost</b>, <b>efficient</b> way for you to find someone that will meet all your planning needs.  The planners are <b>hand picked</b> based on their experience level and 
            <b>matched</b> with you by the Plannr staff.  Let the planners deal with the messy
            details so you can <b>enjoy</b> your party <b>stress-free.</b></p>
        </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-1.jpg') %>
    </noscript>
    <div class="section-description">
        <div class="left">
            <h1 class="section-title">Enjoy the party</h1>
            <p>Be with your friends and loved ones, and let your <b>planner</b> take care of the rest.</p>
        </div>
    </div>
</section>

<section class="section section-text">
    <div class="section-description">
        <h1 class="section-title">How it works</h1>
        <hr class="section-hr">
        <p>
            <div id="container">
                <div id="container-div">
                    <div id="container-title">
                        Create
                    </div>
                    <div id="container-text">
                        Register with Plannr and fill out some quick details about the event.  The Plannr staff will find a planner that best fits your needs.  
                    </div>
                </div>
                <div id="container-div">
                    <div id="container-title">
                        Connect
                    </div>
                    <div id="container-text">
                        Your planner is there to fully help you with anything you need.  Talk to them about your budget, how many people you're expecting, and anything else that comes to mind.  They're there to listen and advice.
                    </div>
                </div>
                <div id="container-div">
                    <div id="container-title">
                        Relax
                    </div>
                    <div id="container-text">
                        Let the trusty planner figure out all the messy details.  They will contact the vendors, work to get great deals, contact your guest list, and anything else to make sure your event is successful.    
                    </div>
                </div>
                <div id="container-div">
                    <div id="container-title">
                        Enjoy
                    </div>
                    <div id="container-text">
                        On the day of the event,  stay stress-free while your planner ensures everything is in order.  Spend more time with your friends and loved ones and let the planner take care of the rest.
                    </div>
                </div>
            </div>
        </p>
    </div>
</section>

<section class="section bg-full" data-image-src="<%= image_path('home-2.jpg') %>">
    <noscript>
        <%= image_tag image_path('home-2.jpg') %>
    </noscript>
    <div class="section-description">
        <div class="right">
            <h1 class="section-title">Stay Connected</h1>
            <p>Anytime you need to talk, your planner is there for you.</p>
        </div>
    </div>
</section>

<section class="section contact">
    <div class="section-description">
        <h1 class="section-title">Get in touch with us.</h1>
        <div class="col-2">
            <div class="col-block">
                <p>Please let us know how we can help you.  We're striving to make your lives easier, and any feedback from you is truly appreciated.  We pride ourselves in keeping touch with everyone that use our platform, so your feedback is essential to our success.  Even if you just wanted to say hi, or have ideas on how we can make this platform even better, we're all ears.</p>
            </div>
            <div class="col-block">
                <%= form_for(:notifications, url: :contact_us) do |f| %>
                    <div class="col-2">
                        <div class="field">
                            <%=  f.label :name %>
                            <%=  f.text_field :name, placeholder: "e.g. John Smith" %>
                        </div>
                        <div class="field">
                            <%=  f.label :email %>
                            <%=  f.text_field :email, placeholder: "e.g. jsmith@xyz.com" %>
                        </div>
                    </div>

                    <div class="field">
                        <%=  f.label :message %>
                        <%=  f.text_area :message %>
                    </div>

                    <div class="field action">
                        <%= f.submit "Send" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>