<% provide(:title, "Password Reset") %>


<section class="hero">
    <section class="bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
        <noscript>
            <%= image_tag image_path('hero-1.jpg') %>
        </noscript>
    </section>
    <div class="user-man-description">
        <h1 class="user-man-title">Reset your password.</h1>
        <%= form_for(:password_reset, url: password_reset_path) do |f| %>
            <div class="field">
                <%= f.label :email %>
                <%= f.text_field :email %>
            </div>
            <div class="field action">
                <%= f.submit "Reset" %>
            </div>
        <% end %>
    </div>
</section>