<%= form_for(@user, url: users_path) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <!-- <h2><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> -->

            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="col-2">
        <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name %>
        </div>
        <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name %>
        </div>
    </div>

    <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>

    <div class="col-2">
        <div class="field">
            <%= f.label :password, "Password" %><br>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation, "Confirm Password" %><br>
            <%= f.password_field :password_confirmation %>
        </div>
    </div>

    <div class="field action">
        <% unless f.object.new_record? %>
            <%= f.submit "Update" %>
            <%= link_to "Dashboard", dashboard_url %>
        <% else %>
            <%= f.submit "Register" %>
            <%= link_to "Cancel", root_url %>
        <% end %>
    </div>

<% end %>
