<%= form_for(:session, url: login_post_path) do |f| %>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, placeholder: "e.g. jsmith@company.com" %>
    </div>

    <div class="field">
        <%= f.label :password, "Passphrase" %><br />
        <%= f.password_field :password, placeholder: "e.g. the golden moon" %>
    </div>

    <div class="field action">
        <%= f.submit "Login" %>
        <%= link_to "Forgot Password", password_reset_path %>
    </div>

<% end %>