<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <script type="text/javascript" src="//use.typekit.net/pkp8swn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
</head>

<%= content_tag(:body, id: body_id, class: body_class) do %>

    <div class="page">

        <header id="header" class="site-header">
            <h1 class="logo">
                <% if signed_in? %>
                    <%= link_to "Plannr", dashboard_url %>
                <% else %>
                    <%= link_to "Plannr", root_url %>
                <% end %>
            </h1>

            <nav>
                <% if signed_in? %>
                    <%= link_to "Account Settings", edit_users_path %>
                    <%= link_to "Logout", logout_path %>
                <% else %>
                    <%= link_to "Login", login_path, class: "login", data: { toggle: "login-form" } %>
                    <div id="login-form" class="login-form toggle">
                        <%= render 'shared/login_form' %>
                    </div>
                    <%#= link_to "Register", register_user_path %>
                <% end %>
            </nav>
        </header>

        <div id="main" class="site-main">
            <% flash.each do |type, msg| %>
                <div class="<%= type %>">
                    <p><%= msg %></p>
                </div>
            <% end %>

            <%= yield %>

        </div>

        <footer id="footer" class="site-footer">
            <div class="container">
                <p>&copy; <%= Time.now.year %> Plannr. All rights reserved.</p>
            </div>
        </footer>

    </div>

    <%= debug(params) if Rails.env.development? %>
    
<% end %>
</html>
